.controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background-color: #f6f6fe;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 30px;
  width: 150px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.controls button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.controls button:nth-child(2) {
  background-color: #ff4ed3;
}

.controls button:nth-child(2):hover {
  background-color: #6c8cff;
}

.controls button:nth-child(3) {
  background-color: #63ff4e;
}

.controls button:nth-child(3):hover {
  background-color: #330d0d;
}

.boxes {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: auto;
  background-color: #f6f6fe;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}